

/* 
    Created on : 1 nov. 2023, 17:30:01
    Author     : yazminferreyra
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background: lightgray!important;

}
.form-container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid  #f3969a;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: -275px;
    margin-left: 40%;
    margin: auto;

}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #f3969a;
    border-radius: 4px;

}
.form-group input[type="submit"] {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    margin-top: 10px;
}

.username-color{
    color: darkred;
}

fieldset{
    padding: 20px!important;
    max-width: 450px!important;
    max-height: 300px!important;
    border-radius: 8px!important;
    margin-right: 100px!important;
    background: #f3969a!important;
    margin-top: 80px!important;

}

#modificar{
    color: #f3969a;
    font-family: 'Roboto', sans-serif;
    
}
.modificar{
    color: #5c5e5f;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.perfil img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: rgba(0, 0, 0, 0.125);

}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.guardarCambios{
    background-color:  #f3969a;
    color: white;

}
.saludo{
    margin: 5px;
    margin-top:  auto;
}

#saludo-h1{

    color: #6c757d!important;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.perfil-padre{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 22%;
}


.perfil-hijo{
    box-sizing: border-box;

}

.perfil-hijo .imagen-perfil{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    align-items: center;
    display: flex;
    border-radius: 20%;
}