.br {
  background-color: #343a40;
}
.carta {
  display: flex;
  float: none;
  align-content: center;
  text-align: center;
  background-color: whitesmoke;
  max-width: 100%;
  color: black;
  border: 2px solid #f3969a;
  border-radius: 15px;
}

.titulo {
  background-color: #343a40;
  color: #f3969a;
  text-align: center;
  border-radius: 15px;
}
.carta-image {
  flex: 1;
  max-width: 25%; /* 1/4 del ancho total */
  position: relative;
}

.carta-content {
  flex: 3;
  max-width: 75%; /* 3/4 del ancho total */
  padding: 10px;
  overflow-wrap: break-word;
  align-items: center;
}
.parrafo {
  align-content: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.swiper-container {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}
.items-list {
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: whitesmoke;
  max-width: 100%;
  border: 2px solid #f3969a;
  border-top: none;
  border-radius: 15px;
}

.item {
  width: calc(25% - 10px); /* 25% - margin */
  margin: 5px;

  border: 1px solid #f3969a;
  text-align: center;
  padding: 3px;
  color: #f3969a;
  background-color: #343a40;
  border-radius: 30px;
}

.espaciado {
  padding-top: 1%;
}

.contenedor {
  display: flex;
  max-width: 100%;
  height: auto;
  color: black;
  background-color: whitesmoke;
  border-radius: 2%;
  align-content: center;
  border: 2px solid #f3969a;
}
.img-tamaño {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  object-fit: contain;
  padding: 4%;
  padding-left: 11%;
  padding-right: none;
}

.contenedor-imagen {
  flex: 1;
  max-width: 25%;
  align-self: center;
  position: relative;
}
.swiper-slide img {
  max-width: 100%; /* Limita el ancho de la imagen al ancho del carrusel */
  max-height: 100%; /* Limita la altura de la imagen a la altura del carrusel */
  object-fit: contain; /* Ajusta la imagen para cubrir completamente el cuadro sin distorsionarla */
}

.boton-estilizado {
  background-color: #f3969a;
  color: black;
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.contenedor-boton {
  position: relative;
  display: inline-block;
}
.input-archivo {
  background-color: #343a40;
  display: none;
}
.contenedor-comentario {
  flex: 3;
  max-width: 75%;
}

.input-grande {
  /* Estilos CSS para hacer que un campo de entrada con la clase "input-grande" sea más grande */
  background-color: lightgray;
  width: 100%;
  height: 100px;
  font-size: 20px;
}

.img-comentario{
    width: 70%;
    height: 70%;
}

.text-puntuacion{   
    color:whitesmoke;
}

.numberList{
    padding: 0,9%;
}

.star{
    font-size: 32px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
    }
    .star:hover,
    .star.checked{
        color: gold;
    }
    star.input{
        display: none;
    }

    .centrado{
        padding-left: 20%;

    }
    .carta-content2{
        display: flex;
        float: none;
        padding-left: 33%;
    }

    .carta-box{
        flex: 2;
        max-width: 100%;
        align-content: center;
    }

    .button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 25px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .modify-button {
        background-color:  #f3969a;
        color: white;
    }
    
    .delete-button {
        background-color: #f44336;
        color: white;
    }
    
    .button:hover {
        background-color: #333;
    }

    .foto{
        max-width: 100%;
        height: auto;
        border-radius: 30%;
    }