* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
@@ -15,11 +15,13 @@ body {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin: 5%;


}

.container-form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
@@ -60,12 +62,16 @@ body {

.formulario {
    width: 400px;

    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;


}


.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
@@ -116,6 +122,20 @@ body {
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 2rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.formulario input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}
.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.sign-in.active {
    opacity: 1;
    visibility: visible;
}
.sign-up.active {
    opacity: 0;
    visibility: hidden;
}