


<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 1"></div>
                            <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 2"></div>
                            <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 3"></div>
                            <!-- Agrega más imágenes según sea necesario -->
                        </div>
                        <div class="swiper-pagination"></div> <!-- Opcional: agregar paginación -->
                    </div>
                    <a href="#" class="no-subrayado">
                        <div class="card-body">
                            <div class="content">
                                <table class="table">
                                    <tr >
                                    <tr>
                                        <td class="cell-with-comment">Descripicion
                                            <div class="comment">Este es un comentario largo que no debería salir de la celda.</div>
                                        </td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <th>Ubicacion</th>
                                    </tr>
                                    <tr>
                                        <th>Disponibilidad</th>
                                    </tr>
                                    <tr>
                                        <th>Precio por noche</th>
                                    </tr>
                                </table>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-body-secondary">Puntuacion</small>
                                </div>
                            </div>
                        </div>
                </div>
                </a>
