
  
    <div class="contenedor">
        <div class="contenedor-imagen">
            <img src="img\Image20231025161308.png" alt="ImagenUsuario">

        </div>
        <div class="contenedor-comentario">
            <div>
                <h3>Nombre de usuario</h3>
                <form action="#" method="post" enctype="multipart/form-data">
                    <textarea class="input-grande" type="text" placeholder="Ingrese su comentario" name="comentario"></textarea>
                    <br>
                    <input type="file" id="foto" name="foto">
                    <br>
                    <button type="submit"> Enviar</button>
                </form>
            </div>
        </div>


    </div>

