<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted" font-style="vertical-align: inherit">© 2023 OpenHouse, Inc.</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="/img/iconoyaz.png" class="bi me-2" width="200" height="200"  >
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
    </a>

    <ul class="nav col-md-1 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" font-style="vertical-align: inherit">Hogar</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" font-style="vertical-align: inherit">Características</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" font-style="vertical-align: inherit">Precios</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" font-style="vertical-align: inherit">Preguntas frecuentes</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" font-style="vertical-align: inherit">Acerca de</a></li>
    </ul>
</footer>  