<section>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted"><font-style="vertical-align: inherit;><font-style="vertical-align: inherit;>© 2023 OpenHouse, Inc.</font></font></p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
       <img src="static.img/iconoyaz.png" class="bi me-2" width="200" height="200"  >
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
      </a>
  
      <ul class="nav col-md-1 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><font-style="vertical-align: inherit;><font-style="vertical-align: inherit;>Hogar</font></font></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><font-style="vertical-align: inherit;><font-style="vertical-align: inherit;>Características</font></font></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><font-style="vertical-align: inherit;><font-style="vertical-align: inherit;>Precios</font></font></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><font-style="vertical-align: inherit;><font-style="vertical-align: inherit;>Preguntas frecuentes</font></font></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><font-style="vertical-align: inherit;><font-style="vertical-align: inherit;>Acerca de</font></font></a></li>
      </ul>
    </footer>
  </div>
</section>    