<section>
    <div class="b-example-divider "></div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    <img src="/img/iconoyaz.png" alt="Logo de Open-House" width="120" height="100">
                </a>

                <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Open-House, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">




                <li class="ms-3">
                    <a class="text-body-secondary" href="https://twitter.com/OpenHouse287" target="_blank" onclick="return abrirVentanaEmergente()">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://www.instagram.com/openhouseegg/?modal=true" target="_blank">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>        <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a></li>
            </ul>
        </footer>
    </div>
</section>