<section class="form"> 
    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="cbox1" value="first_checkbox" /> 
            <label for="cbox1">Servicio de DJ</label>

            <input type="checkbox" id="cbox2" value="second_checkbox" />
            <label for="cbox2">Limpieza</label>

            <input type="checkbox" id="cbox3" value="third_checkbox" />
            <label for="cbox3">Castillo Inflable</label>

            <input type="checkbox" id="cbox4" value="fourth_checkbox" />
            <label for="cbox4">Barra de Tragos</label>

            <input type="checkbox" id="cbox5" value="fifth_checkbox" />
            <label for="cbox5">Barra de Tragos</label>
        </div>
    </div>
</section> 