<div class="carta">
    <div class="carta-image">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                 <div class="swiper-slide" th:each="foto : ${propiedad.imagenes}"> 
                <img th:src="@{/image/propiedad/__${propiedad.id}__}" alt="Imagen 1"> </div> 

                  
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="carta-content">
        <h2 th:text="${propiedad.ciudad}">Título de la carta</h2>
        <p th:text="${propiedad.descripcion}">Descripción de la carta.</p>
        <p th:text="${propiedad.precioBase}">Precio: $100</p>
        <p>Días disponibles: Lunes a Viernes</p>
        <button type="button" ><a th:href="@{/}">Alquilar</a></button>
    </div>
</div>

 Componente items 

<div class="items-list">
     Ver la logica para ver los atributos de la casa 
    <div class="item">Cantidad de Personas</div>
    <div class="item">Cantidad auto</div>
    <div class="item">Cuartos</div>
    <div class="item">Baños</div>
    <div class="item">Piscina</div>
    <div class="item">Asadador</div>
    <div class="item">Cochera</div>
    <div class="item">Aire acondicionado</div>
    <div class="item">Wi-Fi</div>
    <div class="item">Tv</div>
    <div class="item">Barra</div>
    <div class="item">Mascotas</div>
    <div class="item">Cocina</div>

</div>

 