
<!-- Puede faltar un div -->
        <div class="espaciado">
            <div class="carta" th:each="comentario : ${comentarios}">
                <div class="carta-content">
                    <h2>Nombre del usuario</h2> <!-- Necesito saber como buscar el nombre -->
                    <h5 th:text="${comentario.cuerpo}">Contenido del Comentario</h5>
                </div>
                <div class="carta-image">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 1"></div> <!--Aqui ira el each --- nose como hacer para mostrar la foto -->
                            <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 2"></div>
                            <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 3"></div>
                            <!-- Agrega las imágenes adicionales aquí -->
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>

            </div>

        </div>


