<!-- Vista Propiedad: Separar -->

<div class="carta">
    <div class="carta-image">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide" th:each="foto : ${propiedad.imagenes}"> Parcial -->
                <img th:src="@{/image/propiedad/__${propiedad.id}__}" alt="Imagen 1"> <!--</div> Aqui ira el each -->

                <!-- Agrega las imágenes adicionales aquí -->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="carta-content">
        <h2 th:text="${propiedad.ciudad}">Título de la carta</h2>
        <p th:text="${propiedad.descripcion}">Descripción de la carta.</p>
        <p th:text="${propiedad.precioBase}">Precio: $100</p>
        <p>Días disponibles: Lunes a Viernes</p>
        <button type="button" ><a th:href="@{/}">Alquilar</a></button>
    </div>
</div>

<!-- Componente items -->

<div class="items-list">
    <!-- Ver la logica para ver los atributos de la casa -->
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
    <div class="item">Item 6</div>
    <!-- Agrega más elementos aquí -->
</div>