<nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-toggler"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
          <a class="navbar-brand" href="#">
            <!-- cambiar icon -->
            <img src="/img/iconoyaz.png" class="iconoyaz"
              width="50"
              alt="Logo de la pagina web"
            />
          </a>

          <ul
            class="navbar-nav d-flex justify-content-center aling-intem-center"
          >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >OpenHouse</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Alquileres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}" th:if="${session.usersession == null}">Iniciar sesion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}" th:if="${session.usersession == null}">Crear cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" th:if="${session.usersession != null}" >Cerrar Sesión</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>