<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <!-- cambiar icon -->
            <img src="/img/iconoyaz.png" class="iconoyaz"
                 width="180px"
                 alt="Logo de la pagina web"
                 />
        </a>
        <a class="navbar-brand" th:href="@{/}">Open-House</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:if="${session.usersession == null}" th:href="@{/login}">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:if="${session.usersession == null}" th:href="@{/registrar}">Crear Cuenta</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:if="${session.usersession != null}" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Perfil
                    </a>
                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" th:href="@{/login}">Iniciar Sesion</a> -->   
                           <a class="dropdown-item" th:href="@{/usuario/perfil}">Perfil</a>
                        <a class="dropdown-item" th:href="@{/modificarPerfil}">Modificar</a>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/clientes}">Administrar Clientes</a>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/propietarios}">Administrar Propietarios</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_PROPIETARIO')" th:href="@{/propiedad/registrarPropiedad}">Cargar Propiedad</a>
                        <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/propiedad/buscarPorCP}" method="GET">
                <input class="form-control me-sm-2" type="search" placeholder="Buscar por CP" name="codigoPostal">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
