<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="calificacion.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Calificacion</title>
</head>
<body>
    <div class="rating">
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
        <i class="bi bi-star-fill star"></i>
    </div>
<script src="calificacion.js"></script>
</body>
</html>