<style>
 
.centered {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.centered h2 {
margin-bottom: 20px; /* Ajusta el valor */
}

.centered div {
margin-top: 20px; /* Ajusta el valoor */
}



.centered .logo {
        border-radius: 50%;
        width: 120px;
        height: 120px; 
        object-fit: cover;
}


/* logo btn perfil*/
.centereds .logo {
    border-radius: 50%;
    width: 80px;
    height: 80px; 
    object-fit: cover;
}

.centereds {
margin: 0;
padding: 0;
margin-bottom: 10px;
background-color: #f3969a;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.mb-2 {
    font-size: xx-large;
}


tbody .table-secondary {

--bs-table-bg:#ab2f34!important;
}

.username-color {
    color: crimson; /* Color usuario */
    font-weight: 700;
}
.btn {
    width: 100%;
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

/*remarcado despliegue menu perfil*/
.dropdown-menu {
--bs-dropdown-link-active-bg:#668797!important;
--bs-dropdown-link-hover-bg:#668797!important;
}




/*btn iniciar sesion/registro*/
.btn-outline-success {
--bs-btn-bg: darkolivegreen!important;/* color fondo btn*/
/*--bs-btn-border-color: !important;*/

/*color fnd bnt poner mouse encima*/
--bs-btn-hover-bg: #2F4F2F!important;
/* #2F4F2F*/
--bs-btn-hover-border-color: white!important;


/*color fdn btn hacer click*/
--bs-btn-active-bg: #4e816a!important;
--bs-btn-active-border-color: 1px solid #000000!important;
}
    



</style>