<style>

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .centered h2 {
        margin-bottom: 20px; /* Ajusta el valor */
    }

    .centered div {
        margin-top: 20px; /* Ajusta el valoor */
    }



    .centered .logo {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }


    /* logo btn perfil*/
    .centereds .logo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .centereds {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        background-color: #f3969a;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mb-2 {
        font-size: xx-large;
    }


    tbody .table-secondary {

        --bs-table-bg:#ab2f34!important;
    }

    .username-color {
        color: crimson; /* Color usuario */
        font-weight: 700;
    }

    /*remarcado despliegue menu perfil*/
    .dropdown-menu {
        --bs-dropdown-link-active-bg:#668797!important;
        --bs-dropdown-link-hover-bg:#668797!important;
    }

    #table{
        border-color: #343a40!important;
        border-style: double!important;
        width: 95% ;
    }

    #card-footer bg-danger{
        background-color: #343a40!important;
        margin:2px;
    }
    #table{
        border-style: double!important;
        width: 95% ;
    }

</style>