/*navbar*/
.iconoyaz{
    
        width: 100px; 
        height: 100px; 
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin: 1%
    
    
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
/*dropdown*/
.imagen-drop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .btn-secondary{
    background-color: gray;
    border-color: black;
  }
 
  

/*carrousel*/
.carrousel{


}
.carousel-item img{
width: 80%;
height: 70%;
object-fit: cover;
padding: 2%;
height: 500px; /*  la altura  imágenes */
object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor*/



}
