/*navbar*/
.iconoyaz{
    
        width: 100px; 
        height: 100px; 
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin: 1%
    
    
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
/*dropdown*/
.imagen-drop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .btn-secondary{
    background-color: gray;
    border-color: black;
  }
 
  


.carousel-item img{
width: 80%;
height: 70%;
object-fit: cover;
padding: 2%;
height: 500px; /*  la altura  imágenes */
object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor*/



}
/* cartas estilo*/
.card-img-top {
    width: 100%;
    height: auto;
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

/* Establecer una altura máxima para la tarjeta */
.card {
    max-height: 600px; 
    min-height: 600px;
}

/* Estilo para la tabla dentro del contenido de la tarjeta */
.table {
    width: 100%;
    margin-top: 10px;
}

/* Estilo para el botón de reserva si el usuario está en sesión */
.d-flex.justify-content-between.align-items-center button {
    margin-top: 10px;
    
}
.swiper-slide img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 400px; /* Establece una altura fija */
     object-fit: cover;/* Para mantener la proporción de la imagen */
}