/*IMAGEN HEADER */

.header{
    margin:5px;
    background-color: #ecf0f3;
    display: flex;
    justify-content: space-between;
    /*justify-content: flex-end;*/
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
    margin: 0px;
}
.header .logo img{
    height: 70px;
    width: auto;
    margin-left: 0px;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.1,1.1);
}

.header .nav-links{
    list-style: none;
    margin-bottom: auto;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1,1.1);
    margin-left: 0px;
}

.header .nav-links a{
    font-size: 18px;
    color: #1B2223;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: #663DE4;
}

.boton-log{
    margin-left: 13em;
}

.header .btn button{
    font-size: 15px;
    color: #ffffff;
    padding: 8px 16px;
    background: #1B2223;
    border: none;
    border-radius:  50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
   /* margin-left: 20px;*/
}

.header .btn button:hover{
    background-color: #ffffff;
    color: #1B2223;
    transform: scale(1.1);
}


.imagen-header {
    width: 90px; 
    height: 100%; 
    overflow: hidden;
    margin-left: 20px; 
}
.imagen-header img {
    /*clip: rect(0, 200px, 100px, 0);*/
    width: 100%; 
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    object-fit: cover;
}

.img-fondo{
    background-image: url("../images/main/fondo2.jpg");
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
}

.perfil img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.tarjeta-index{
    background-color: #ecf0f3;
   /* box-shadow: 0px 0px 11px 6px #d1d9e6, 0px 0px 5px 0px #f9f9f9;*/
    border: none;
    border-radius: 12px;
}

.tarjeta-index a{
    font-size: 15px;
    color: #ffffff;
    padding: 8px 16px;
    background: #1B2223;
    border: none;
    border-radius:  50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.tarjeta-index a:hover{
    background-color: #ffffff;
    color: #1B2223;
    transform: scale(1.1);
}

.modal {
    --bs-modal-margin: 20.8rem;
}

.modal-backdrop {
--bs-backdrop-opacity: 0.7;
}

