/*IMAGEN HEADER */
 .body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Esto centra verticalmente en la página */
            margin: 0;
        }

.header .btn button{
    font-size: 15px;
    color: #ffffff;
    padding: 8px 16px;
    background: #1B2223;
    border: none;
    border-radius:  50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* margin-left: 20px;*/
}

.header .btn button:hover{
    background-color: #ffffff;
    color: #1B2223;
    transform: scale(1.1);
}

.perfil img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tarjeta-index{
    background-color: #f3969a;
    /* box-shadow: 0px 0px 11px 6px #d1d9e6, 0px 0px 5px 0px #f9f9f9;*/
    border: none;
    border-radius: 12px;
}

.tarjeta-index a{
    font-size: 15px;
    color: #ffffff;
    padding: 8px 16px;
    background: #1B2223;
    border: none;
    border-radius:  50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.tarjeta-index a:hover{
    background-color: #ffffff;
    color: #1B2223;
    transform: scale(1.1);
}

.modal {
    --bs-modal-margin: 20.8rem;
}

.modal-backdrop {
    --bs-backdrop-opacity: 0.7;
}

.card{
    background-color: transparent!important;
    --bs-card-border:#343a40!important;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modify-button {
    background-color:  #f3969a;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.button:hover {
    background-color: #333;
}


.swiper-container {
    max-height: auto;/* Limita el ancho del carrusel al ancho del contenedor padre */
    overflow: hidden; /* Oculta el contenido que excede el cuadro */
    object-fit: cover;
}
.swiper-slide img {
    /* Limita el ancho de la imagen al ancho del carrusel */
    max-height: 100%; /* Limita la altura de la imagen a la altura del carrusel */
     /* Ajusta la imagen para cubrir completamente el cuadro sin distorsionarla */

}
.col{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    object-fit: cover;
    border-radius: 100%!important;
}
#perfil img{
    
    width: 100%;
    height: auto;
    margin-right: -100%;
    object-fit: scale-down;
    margin-top: -100%;
    margin-left: 100%;
    border-radius: 30%;
    max-width: 200%;
   
}
@media only screen and (width:1399px) {

    #perfil img{
       
        margin-left: 0px;
        /*margin-right: -300px; */
        width: 150px;
        object-fit: scale-down;


    }


}

.perfil-padre{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 22%;
}


col-md-4 text-center{
    box-sizing: border-box;

}

.imagen-perfil{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    align-items: center;
    display: flex;
    border-radius: 50%;
}
.saludo{
    margin: 5px;
    margin-top:  auto;
    margin-block: inheri;
}

#saludo-h1{

    color: #6c757d!important;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajusta la altura según tus necesidades */
}
.imagen-perfil {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
