
body{
    background-color: lightgray;
}

navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.boxx{

    text-align: center;
    display: flex;
    margin: 20px; /* Espacio entre los divs */
    align-content: center;
}
.container mt-6{
    align-content: center;
}