
body{
    background-color: lightgray;
    color:#888;
    font-family: sans-serif;
}

navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.boxx{

    text-align: center;
    display: flex;
    margin: 70px; /* Espacio entre los divs */
    align-content: center;
}
.form-container{

    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #f3969a;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #f3969a;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.125);
}
.form-group input[type="submit"] {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    margin-top: 10px;
    background-color: rgba(0,0,0,0.125);
    border: 1px solid #f3969a;
}
.form-check{

}
.form-check input{
    width: 100%;
    padding: 8px;
    border: 1px solid #f3969a;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.125);

}
#registrar{
    color: #f3969a;
}
form-control textarea{
    background-color: rgba(0,0,0,0.125);
    border: 1px solid #f3969a;

}
#descripcion{
    background-color: rgba(0,0,0,0.125);
    border: 1px solid #f3969a;

}
#boton{
    background-color: black;
    border: 1px solid #f3969a;
}