body{
    width: 100%;
    height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star{
font-size: 32px;
color: #bbb;
transition: color 0.3s;
cursor: pointer;
}
.star:hover,
.star.checked{
    color: gold;
}