<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Resultados de la Búsqueda</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
                <tr th:each="propiedad : ${propiedadesCP}">
                    <td th:text="${propiedad.id}"></td>
                    <td th:text="${propiedad.descripcion}"></td>
                    <td th:text="${propiedad.precio}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
