<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/cancel.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" />
        <title>Reserva Cancelada!!!-Open-House</title>
    </head>
    <body>
        <div class="espacio"> </div>

        <div class="contenedor">
            <h1>Reserva Cancelada!!!</h1>
            <a th:href="@{/lista/__${session.usersession.id}__}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
        </div>
    </body>

</html>
