
<!--La carta no va aca,pero no se donde la van a poner-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="Stylo_Menu.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


    </head>
    <body>


        <div class="album py-5 bg-body-tertiary">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 1"></div>
                                    <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 2"></div>
                                    <div class="swiper-slide"><img src="img\Image20231025161308.png" alt="Imagen 3"></div>
                                    <!-- Agrega más imágenes según sea necesario -->
                                </div>
                                <div class="swiper-pagination"></div> <!-- Opcional: agregar paginación -->
                            </div>
                            <a href="#" class="no-subrayado">
                                <div class="card-body">
                                    <div class="content">
                                        <table class="table">
                                            <tr >
                                            <tr>
                                                <td class="cell-with-comment">Descripicion
                                                    <div class="comment">Este es un comentario largo que no debería salir de la celda.</div>
                                                </td>
                                            </tr>
                                            </tr>
                                            <tr>
                                                <th>Ubicacion</th>
                                            </tr>
                                            <tr>
                                                <th>Disponibilidad</th>
                                            </tr>
                                            <tr>
                                                <th>Precio por noche</th>
                                            </tr>
                                        </table>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-body-secondary">Puntuacion</small>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </a>
                        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                        <script src="img.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
                        </body>
                        </html>
