<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Ingresa a tu Cuenta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/registrostyle.css">
    </head>
    <body>
        <!--Lo usamos sin navbar, mas vale le agregamos un boton de volver</nav>-->

        <div class="container-form sign-up">
            <div class="welcome-back">
                <div class="message">
                    <h2>Bienvenido a Open-House</h2>
                    <p>Registrate para poder hacer tus reservas o publicar tus propiedades!</p>
                    <a th:href="@{/cliente/registrarCliente}"><button class="sign-up-btn">Cliente</button></a>
                    <a th:href="@{/propietario/registrarPropietario}"><button class="sign-up-btn">Propietario</button></a>
                </div>
            </div>

            <form class="formulario"  th:action="@{/logincheck}" method="POST">
                <h2 class="create-account">Ingresa a tu cuenta</h2>

                <div class="iconos">
                    <div class="border-icon">
                        <i class='bx bxl-instagram'></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-linkedin' ></i>
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-facebook-circle' ></i>
                    </div>
                </div>
                <br>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Contraseña">
                <button type="submit" class="btn btn-primary mt-3 botones">Ingresar!</button>
            </form>
        </div>

        <section class=" text-center container">
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                </div>
            </div>
        </section>


        <script src="script.js"></script>
    </body>

</html>
