<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <body>
        <nav th:replace= "/fragments/navbar :: nav" ></nav>

        <div class="container m-5">
            <table class="table">
                <thead>
                    <tr>
                        <!-- comment<th scope="col">Id del/la reserva</th> -->
                        <th scope="col">fecha inicio</th>
                        <th scope="col">fecha fin </th>
                        <th scope="col">precio final</th>
                        <th scope="col">cant personas</th>
                        <th scope="col">ubicacion</th>
                        <th scope="col">Estado</th>
                        <th scope="col" sec:authorize="hasRole('PROPIETARIO')">CANCELAR RESERVA</th>
                    </tr>
                </thead>
                
                <tbody th:each="reservas : ${reservaLista}">
                    <tr>
                        <!-- comment <td th:text="${reservas.id}"></td>-->
                        <td th:text="${reservas.fechaInicio}"></td>
                        <td th:text="${reservas.fechaFin}"></td>
                        <td th:text="${reservas.precioFinal}"></td>
                        <td th:text="${reservas.cantPersonas}"></td>
                        <td th:text="${reservas.propiedad.direccion}"></td>
                        <td th:text="${reservas.alta}"></td>
                        <td>
                            <a sec:authorize="hasRole('PROPIETARIO')" th:href="@{/propietario/listDeReservas/__${reservas.id}__}"><i class="fas fa-feather-alt"></i>CANCELAR</a>
                        </td>
                    </tr>
                </tbody> 
            </table>
            
            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Éxito ð</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error ð</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
        </div>

            <section th:replace="/fragments/footer.html :: section"> </section>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

