<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       lang="es">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/registroStyle.css">
    </head>
    <body>        
        <form class="formulario"  th:action="@{/logincheck}" method="POST"> 
            <h2 class="create-account">Iniciar Sesión</h2>

            <div class="iconos">
                <div class="border-icon">
                    <a href="https://www.instagram.com" target="_blank">
                        <i class='bx bxl-instagram'></i>
                    </a>
                </div>

                <div class="border-icon">
                    <a href="https://www.linkedin.com" target="_blank">
                        <i class='bx bxl-linkedin' ></i>
                    </a>
                </div>

                <div class="border-icon">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class='bx bxl-facebook-circle' ></i>
                    </a>
                </div>
            </div>

            <a style="text-decoration: none;" th:href="@{/registrar}"><p class="cuenta-gratis" style="color: white;">¿Aun no tienes una cuenta?</p></a>
            <input type="email"  th:value="${email}" name="email" placeholder="Email">
            <input type="password" th:value="${password}" name="password" placeholder="Contraseña" >

            <input type="submit" value="Iniciar Sesión">
            <a  style="text-decoration: none;" href="/"> <input type="button" value="Cancelar" ></a>
        </form>

        <div th:replace="/fragments/errores :: div"></div>
    </body>
</html>
