<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

    <head>
        <title>Formulario de reserva</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link href="/css/reservarPropiedad.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <div th:replace="/fragments/errores :: div"></div>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="/img/iconoyaz.png" class="iconoyaz" width="50" alt="Logo de la pagina web" />
                </a>
                <a class="navbar-brand" th:href="@{/}">Open-House</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>


        <div class="box">

            <div class="box-res" style="width: 100%;">
                <div>
                    <div class="col-md-6">

                        <div th:replace="/fragments/errores :: div"></div>

                        <div class="card border-warning mb-3">
                            <div class="card-header">
                                <h2><strong>Modificar la Reserva</strong></h2>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/reserva/modificoReserva/__${reserva.id}__/__${cliente.id}__}" method="POST">

                                    <input hidden th:value="${reserva.propiedad.id}" name="propertyId">
                                    <input hidden th:value="${reserva.id}" name="idReserva">
                                    <input hidden th:value="${fechas}" id="fechas">

                                    <label for="adultos">Total de Personas</label>
                                    <select id="adultos" 
                                            name="cantPersonas" 

                                            >
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="20">+20</option>
                                    </select>
                                    <br><br>
                                    
                                    <label>
                                        <input type="checkbox" name="eventoPrivado" id="eventoPrivado">
                                        Utilizaré la propiedad para un evento privado.
                                    </label>

                            </div>
                            <form id="reservaForm">
                                <div class="form-group">
                                    <label for="fechaInicio">Fecha ingreso:</label>
                                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                                </div>
                                <div class="form-group">
                                    <label for="fechaFin">Fecha egreso:</label>
                                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                                </div>
                                <div id="diasReserva"></div>
                                <br>

                                <input hidden th:value="${reserva.propiedad.precioBase}" id="precioBase">  
                                <div id="precioFinal"></div>
                                
                                <p id="message"></p>
                                
                                <br>
                                <button type="submit" class="btn btn-primary" id="submitButton">Modificar Reserva</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <div class="box-prop" style="width: 40%;">
                <div>
                    <div class="col" th:each="propiedad : ${propertys}">
                        <div class="card shadow-sm">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"
                                         th:if="${propiedad.imagenes != null and not #lists.isEmpty(propiedad.imagenes)}">

                                        <img width="100%" height="100%" th:each="imagen : ${propiedad.imagenes}"
                                             th:src="@{/image/propiedad/__${propiedad.id}__}"
                                             alt="Imagen propiedad" />
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/propiedad/detalles/__${propiedad.id}__}" class="no-subrayado"> </a>
                            <div class="card-body">
                                <div class="content">
                                    <table class="table">
                                        <tr>
                                            <td class="cell-with-comment" th:text="${propiedad.ciudad}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="comment" th:text="${propiedad.descripcion}"></td>
                                        </tr>
                                        <tr>
                                            <th th:text="${propiedad.direccion}"></th>
                                        </tr>
                                        <tr>
                                            <th>$</th>
                                            <td th:text="${propiedad.precioBase}"></td>
                                        </tr>
                                    </table>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-body-secondary">Puntuación</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         

        </div>




        <div>
            <section th:replace="/fragments/footer :: section"></section>
        </div>


        <script src="/reservar_propiedad.js"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>