<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="es">

    <head>
        <title>Modificar Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/modificar_cliente.css">
    <div th:replace="/fragments/head2 :: head"></div>
</head>


<body style="display: block!important">

    <nav th:replace="/fragments/navbar :: nav"></nav>
    <fieldset >
        <div class="top-20 end-80">
            <div class="registrar" style="align-items: center!important; border-radius: 30px!important;
                 margin: 40px!important;  margin-right: 10px!important; margin-left: 10px!important;"> 

                <h1 class="saludo text-white" style="text-align: center; font-size:  var ">
                    Hola »<span class="username-color" th:text="${cliente.name}"></span>« 
                </h1>

                <div class="centered">
                    <a class="d-flex align-items-center">
                        <img class="logo"  th:src="@{/image/perfil/__${session.usersession.id}__}" height="100px;" >
                    </a>
                </div>
            </div>

        </div>
    </fieldset> 



    <div style="" class="form-container">
        <h1 id="modificar">Modificar Usuario</h1>

        <form th:action="@{/propietario/modificar/__${cliente.id}__}" action="procesar_modificacion_cliente.php" method="POST" enctype="multipart/form-data">

            <input hidden th:value="${cliente.id}" name="id">

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="name" th:value="${cliente.name}" required>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" th:value="${cliente.email}" required>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="phone" required>
            </div>
            <div class="form-group">
                <label for="foto">Foto de Perfil</label>
                <input type="file" name="archivo" required>
            </div>
            <div class="form-group">
                <label for="direccion">DNI:</label>
                <input type="text" id="direccion" name="dni" required>
            </div>
            <div class="form-group">
                <label for="direccion">CBU:</label>
                <input type="text" id="direccion" name="cbu" required>
            </div>
            <div class="form-group">
                <label for="direccion">Fecha de Nacimiento</label>
                <input type="date" id="direccion" name="birthdate" required>
            </div>
            <div class="form-group">
                <label for="direccion">Contraseña:</label>
                <input type="password" id="direccion" name="password" required>
            </div>
            <div class="form-group">
                <label for="direccion">Repetir Contraseña:</label>
                <input type="password" id="direccion" name="password2" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios">
            </div>
        </form>
        
        <div th:replace="/fragments/errores :: div"></div>
    </div>
    
    <section th:replace="/fragments/footer :: section"></section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
