<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
            lang="es"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p class="cuenta-gratis">Modificar Usuario</p>
            <input class="color-input"   name="name" type="text" placeholder="Nombre">
            <input type="email"  name="email" placeholder="Email">
            <input type="password"  name="password" placeholder="Contraseña">
            <input type="password"  name="password2" placeholder="Repita Contraseña">
            <input type="text" name="dni" placeholder="DNI">
            <input type="text" name="phone" placeholder="Celular">
            <input type="date" id="birthday" name="birthdate" placeholder="Fecha de nacimiento">
            <input type="file" name="archivo" placeholder="Cargar archivo">
            <input class="formulario input" type="submit" value="Registrarse">

        </div>
    </body>
</html>
