<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Perfil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <div th:replace="/fragments/head :: head" ></div>
</head>

<body style="background: lightgray!important">

    <style th:replace="/fragments/style_perfil :: style"></style>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <br><br>

    <div class="container">
        <div class="card">
            <div style="background-color:#343a40!important; margin:2px;" class="card-header d-flex align-items-center justify-content-evenly bg-danger">
                <h4 style=" color: #f3969a!important" class="fw-bold">Perfil</h4>
            </div>

            <div class="row g-0">
                <div class="col-md-4 d-flex">
                    <div th:if="${session.usersession != null and session.usersession.image != null}" id="perfil">
                        <img th:src="@{/image/perfil/__${session.usersession.id}__}">
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card-body" style="margin-left: -200px!important;">

                        <table style="border-color: #343a40!important;border-style: double!important; width: 95% ;" id="table">
                            <tbody>

                                <tr class="border-top-0 border-end-0 border-start-0 border-3 border-secondary">
                                    <th th:text="'Nombre: '+ ${usuario.name}" scope="row"></th>

                                </tr>

                                <tr class="border-top-0 border-end-0 border-start-0 border-3 border-secondary">
                                    <th th:text="'Email: '+ ${usuario.email}" scope="row"></th>

                                </tr>

                                <tr class="border-top-0 border-end-0 border-start-0 border-3 border-secondary">
                                    <th th:text="'Celular: '+ ${usuario.phone}" scope="row"></th>

                                </tr>

                                <tr class="border-top-0 border-end-0 border-start-0 border-3 border-secondary">
                                    <th th:text="'DNI: '+ ${usuario.Dni}" scope="row"></th>

                                </tr>

                                <tr class="border-top-0 border-end-0 border-start-0 border-3 border-secondary">
                                    <th th:text="'Rol: '+ ${usuario.rol}" scope="row"></th>

                                </tr>

                            <th:block th:if="${usuario.rol == 'PROPIETARIO'}">
                                <tr class="border-top-0 border-end-0 border-start-0 border-3 border-secondary">
                                    <th th:text="'CBU: '+ ${usuario.cbu}" scope="row"></th>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="button-container">
                <a th:href="@{/modificarPerfil}"><button class="button modify-button m-1 "  >Modificar</button></a>
                <button class="button delete-button" onclick="darseDeBaja()">Darse de baja</button>
            </div>
            <div  id="card-footer bg-danger ">
                <p class="fw-semibold " text= "'User Id : '+${user.id}" ></p>
            </div>
        </div>
    </div>

    <div class="container">
        <footer th:replace="/fragments/footer :: footer" > </footer>
    </div>


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
    ></script>


    <script>
                    function darseDeBaja() {
                        alert('Darse de baja');
                    }
    </script>
</body>
</html>