<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenHouse</title> 
        <link href="/propiedadestilo.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>        

        <div class="carta">
            <div class="carta-image">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="imagen, iterStat : ${imagenes}" th:if="${propiedad.imagenes != null and not #lists.isEmpty(propiedad.imagenes)}" >
                            <!-- Falta logica de como ver la foto -->
                            <img width="100%" height="100%" th:src="@{/image/propiedad/__${propiedad.id}__/__${iterStat.index}__}" alt="Imagen propiedad"/>                                
                        </div>
                        <!-- Agrega más imágenes según sea necesario -->
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div> 
                </div>
            </div>

            <div class="carta-content">
                <h2 class="titulo" th:text="${propiedad.ciudad}">Título de la carta</h2>
                <p class="parrafo" th:text="${propiedad.descripcion}">Descripción de la carta.</p>
                <p th:text="'Precio por noche: ' + ${propiedad.precioBase}">Precio: $100</p>
                <button type="button" class="boton-estilizado" th:if="${session.usersession != null}" sec:authorize="hasRole('ROLE_CLIENTE')"><a class="boton-estilizado"  th:href="@{/reserva/crear/__${propiedad.id}__}">Alquilar</a></button>
                <button type="button" class="boton-estilizado" th:if="${session.usersession == null}" ><a class="boton-estilizado" th:href="@{/login}" >Alquilar</a></button>
            </div>
        </div>

        <div class="items-list">
            <div class="item" th:text="'Cantidad de Personas: ' + ${propiedad.prestaciones.cantidadPers}" ></div>
            <div class="item" th:text="'Cantidad auto: ' + ${propiedad.prestaciones.cantAuto}" ></div>
            <div class="item" th:text="'Cuartos: ' + ${propiedad.prestaciones.cantCuarto}" ></div>
            <div class="item" th:text="'Baños: ' + ${propiedad.prestaciones.cantBanio}" ></div>
            <div class="item" th:if="${propiedad.prestaciones.pileta}">Piscina</div>
            <div class="item" th:if="${propiedad.prestaciones.asador}">Asador</div>
            <div class="item" th:if="${propiedad.prestaciones.cochera}">Cochera</div>
            <div class="item" th:if="${propiedad.prestaciones.aireAcondicionado}">Aire acondicionado</div>
            <div class="item" th:if="${propiedad.prestaciones.wiFi}">Wi-Fi</div>
            <div class="item" th:if="${propiedad.prestaciones.tv}">Tv</div>
            <div class="item" th:if="${propiedad.prestaciones.barra}">Barra de tragos</div>
            <div class="item" th:if="${propiedad.prestaciones.seAceptanMascotas}">Se aceptan Mascotas</div>
            <div class="item" th:if="${propiedad.prestaciones.aguaCorriente}">Agua Corriente</div>
            <div class="item" th:if="${propiedad.prestaciones.cocina}">Cocina</div>
            <div class="item" th:if="${propiedad.prestaciones.heladera}">Heladera</div>
            <div class="item" th:if="${propiedad.prestaciones.microondas}">Microondas</div>        
        </div>
        <br>


        <div class="contenedor" th:if="${session.usersession != null}" sec:authorize="hasRole('ROLE_CLIENTE')">
            <div class="contenedor-imagen">
                <img class="img-tamaño" th:src="@{/image/perfil/__${usuario.id}__}" alt="ImagenUsuario">

            </div>
            <div class="contenedor-comentario">
                <div>
                    <h3 class="titulo" th:text="${usuario.name}"></h3>
                    <form  th:action="@{/comentario/registroCommentario/__${propiedad.id}__/__${usuario.id}__}" method="POST" enctype="multipart/form-data">
                        <textarea class="input-grande" type="text" placeholder="Ingrese su comentario" name="cuerpo"></textarea>

                        <h5>Calificacion</h5>
                        <div class="rating">
                            <!-- Checkbox -->
                            <input hidden type="checkbox" id="ratingCheckbox" name="Calificacion" value="1">
                            <input hidden type="checkbox" id="ratingCheckbox2" name="Calificacion" value="2">
                            <input hidden type="checkbox" id="ratingCheckbox3" name="Calificacion" value="3">
                            <input hidden type="checkbox" id="ratingCheckbox4" name="Calificacion" value="4">
                            <input hidden type="checkbox" id="ratingCheckbox5" name="Calificacion" value="5">

                    
                            <!-- Estrellas -->
                            <label for="ratingCheckbox" class="star" onclick="changeRating(1)"><i class="bi bi-star-fill"></i></label>
                            <label for="ratingCheckbox2" class="star" onclick="changeRating(2)"><i class="bi bi-star-fill"></i></label>
                            <label for="ratingCheckbox3" class="star" onclick="changeRating(3)"><i class="bi bi-star-fill"></i></label>
                            <label for="ratingCheckbox4" class="star" onclick="changeRating(4)"><i class="bi bi-star-fill"></i></label>
                            <label for="ratingCheckbox5" class="star" onclick="changeRating(5)"><i class="bi bi-star-fill"></i></label>
                        </div>

                        <div class="contenedor-boton">
                            <label for="input-archivo" class="boton-estilizado">Seleccionar Archivo</label>
                            <input type="file" id="input-archivo" class="input-archivo" name="archivo" accept="image/*">                                

                        </div>

                        <br>
                        <button class="boton-estilizado" type="submit"> Enviar</button>
                    </form>
                </div>
            </div>


        </div>
        <div class="espaciado" th:each="comentario : ${comentarios}">
            <div class="carta" >
                <div class="carta-content">
                    <h2 th:text="${comentario.cliente.name}"></h2>
                    <h5 th:text="${comentario.cuerpo}"></h5>
                    <div><h5 th:text="'Valoracion: ' + ${comentario.valoracion}+ '&#9733;'"></h5></div>
                    <button th:if="${session.usersession != null}" sec:authorize="hasRole('ROLE_ADMIN')"><a  th:href="@{/admin/eliminarComentario/__${comentario.id}__}"><i class="fas fa-feather-alt"></i>Eliminar</a></button>
                </div>
                <div class="carta-image">
                    <div >
                        <div >
                            <div ><img class="img-comentario" th:src="@{/image/comentario/__${comentario.id}__}" alt="Imagen Comentario"></div> 
                        </div>

                    </div>
                </div>
                    
                

            </div>

        </div>
        <section th:replace="/fragments/footer :: section"></section>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="/star.js"></script>
        <script src="/img.js"></script>
    </body>
</html>

