<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

    <head>
        <title>Formulario de reserva</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link href="/css/reservaPropiedad.css" rel="stylesheet" type="text/css">

    </head>

    <body>
         <div th:replace="/fragments/errores :: div"></div>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="/img/iconoyaz.png" class="iconoyaz" width="50" alt="Logo de la pagina web" />
                </a>
                <a class="navbar-brand" th:href="@{/}">Open-House</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>


        <div class="box">

            <div class="box-res">
                <div>
                    <div class="col-md-6">

                        <div th:replace="/fragments/errores :: div"></div>

                        <div class="card border-warning mb-3">
                            <div class="card-header">
                                <h2><strong>Formulario de Reserva</strong></h2>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/reserva/crearReserva/__${propertys.id}__/__${user.id}__}" method="POST">

                                    <input hidden th:value="${user.id}" name="idCliente">
                                    <input hidden th:value="${propertys.id}" name="idPropiedad">


                                    <!-- comment 
                                    
                                    LA ETIQUETA SPAN no tiene el atributo name, por ende no me lo toma como parametro para 
                                    los controladores.
                                    
                                    <p >Total de personas: <span id="totalPersonas" >0</span></p>
                                     -->
                                    <label for="adultos">Total de Personas</label>
                                    <select id="adultos" 
                                            name="cantPersonas" 
                                            
                                            >
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <!-- comment 
                                    <br>
                                    <label for="ninos">Niños mayores a 12 años:</label>
                                    <select id="ninos" name="ninos" onchange="calcularCantidad()">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
    
                                    </select>
                                    <br>
                                    <label for="bebes">Niños menores de 12 años:</label>
                                    <select id="bebes" name="bebes" onchange="calcularCantidad()">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </form>
    
    
    
                                <label>
                                    <input type="checkbox" name="eventoPrivado" id="eventoPrivado">
                                    Utilizaré la propiedad para un evento privado.
                                </label>
    
    
    
                                    -->
                            </div>
                            <form id="reservaForm">
                                <div class="form-group">
                                    <label for="fechaInicio">Fecha ingreso:</label>
                                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                                </div>
                                <div class="form-group">
                                    <label for="fechaFin">Fecha egreso:</label>
                                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                                </div>
                                <div id="diasReserva"></div>
                                <br>

                                <button type="submit" class="btn btn-primary">Crear Reserva</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="/fragments/Carta :: div"></div>            

            <div>
                <section th:replace="/fragments/footer :: section"></section>
            </div>

            <script src="/reservar_propiedad.js"></script>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>