<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

    <head>

        <title>Formulario de reserva</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/cartastyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        
        <link href="/css/reservarPropiedad.css" rel="stylesheet" type="text/css">
        <link href="/propiedadestilo.css" rel="stylesheet">        
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


    </head>

    <body style="background: lightgray!important">
        <div th:replace="/fragments/errores :: div"></div>
        <nav th:replace="/fragments/navbar :: nav"></nav>    



        <div class="box">

            <div class="box-container2" style="width: 80%">
                <div class="box-prop" th:replace="/fragments/Carta :: div"></div>


                <div class="box-container1" style="width: 100%">

                    <div >
                        <div>
                            <div class="col-md-6">

                                <div th:replace="/fragments/errores :: div"></div>

                                <div class="card border-warning mb-3">
                                    <div class="card-header">
                                        <h3>¡Asegurá tu lugar ahora!</h3>
                                    </div>
                                    <div class="card-body2">
                                        <form th:action="@{/reserva/crearReserva/__${propertys.id}__/__${user.id}__}" method="POST">

                                            <input hidden th:value="${user.id}" name="idCliente">
                                            <input hidden th:value="${propertys.id}" name="idPropiedad">
                                            <input hidden th:value="${fechas}" id="fechas">

                                            <label for="adultos">Total de Personas</label>
                                            <select id="adultos" 
                                                    name="cantPersonas" 

                                                    >
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="20">+20</option>
                                            </select>
                                            <br><br>

                                            <label>
                                                <input type="checkbox" name="eventoPrivado" id="eventoPrivado">
                                                Utilizaré la propiedad para un evento privado.
                                            </label>

                                    </div>
                                    <form id="reservaForm">
                                        <div class="form-group">
                                            <label for="fechaInicio">Fecha ingreso:</label>
                                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="fechaFin">Fecha egreso:</label>
                                            <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                                        </div>
                                        <div id="diasReserva"></div>
                                        <br>

                                        <input hidden th:value="${propertys.precioBase}" id="precioBase">  
                                        <div id="precioFinal"></div>

                                        <p id="message"></p>

                                        <br>
                                        <button type="submit" class="btn btn-primary" id="submitButton">Reservar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <section th:replace="/fragments/footer :: section"></section>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script src="/img.js"></script>
        <script src="/star.js"></script>
        <script src="/reservar_propiedad.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>